html,
body,
textarea {
  margin: 0;
  font-family: serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
}

h3 {
  font-size: 2.2rem;
  font-weight: 500;
}

h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

h5 {
  font-size: 1.6rem;
  font-weight: 600;
}

h6 {
  font-size: 1.4rem;
  font-weight: 600;
}

p {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

label {
  display: block;
}
