:root {
  --background-light: #ffffff;
  --background-dark: #f8f8f8;
  --contrast-light: #282828;
  --contrast-dark: #212121;
  --accent-light: #826efd;
  --accent-dark: #6c57eb;
  --shadow-opacity: 0.05;
  --shadow-opacity-dark: 0.1;
}

.dark-theme {
  --background-light: #282828;
  --background-dark: #212121;
  --contrast-light: #ffffff;
  --contrast-dark: #f8f8f8;
  --accent-light: #826efd;
  --accent-dark: #6c57eb;
  --shadow-opacity: 0.2;
  --shadow-opacity-dark: 0.3;
}
