@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./global/index.styles.css";
@import "./global/theme.styles.css";
@import "./global/button.styles.css";
@import "./global/override.styles.css";
@import "./global/user.styles.css";
@import "./global/typography.styles.css";
@import "../../node_modules/react-dates/lib/css/_datepicker.css";
@import "../../node_modules/react-image-crop/dist/ReactCrop.css";

.root {
  display: grid;
  grid-template-columns: 280px auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100vh;
  overflow: scroll;
  align-content: stretch;
}
